{% extends "base.html" %}

{% block content %}
    <h1>Estado Resumen</h1>
    <table>
        <tr>
            <th>Moneda</th>
            <th>Cantidad Actual</th>
            <th>Valor en Euros</th>
        </tr>
        {% for currency, data in original_stats.items() %}
            {% if currency != "EUR" %}
                <tr>
                    <td>{{ currency }}</td>
                    
                    <td>{{ data.quantity_to - data.quantity_from }}</td>

                    
                    <td>
                            {{ stats[currency].cantidad_multiplicada }}
                            
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    <h6>Valor En Euros: {{ total_inversion }} Eur</h6>



    {% for currency, data in original_stats.items() %}
        {% if currency == "EUR" %}
            <h6>Total de inversion en Euros: {{  data.quantity_from }}</h6>
        {% endif %}
    {% endfor %}


    <h6>Resultado De La Inversion: {{ total_inversion_euro }}</h6>
{% endblock %}
