/* Estilo para la etiqueta <div> */
.grid-div {
    /* Disposición en grid */
    display: grid;
  
    /* Tamaño específico */
    width: 300px;
    height: 200px;
}
.grid-div.right-aligned {
    justify-self: end;
  }

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Divide en 3 columnas */
    grid-template-rows: 100px 200px; /* Dos filas de altura */
  }
  
.element {
    grid-column: 2; /* El elemento ocupa la segunda columna */
    grid-row: 1; /* El elemento ocupa la primera fila */
  }